.chance{
  padding: 60px 0;
  &__title{
    text-align: center ;
    font-family: 'Cormorant Garamond',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:40px;
    color: #424242;
    line-height: 52px;
  }
  &__row{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 65px 0;
  }
  &__card{
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.3);
    border-radius: 10px;
    width: calc(50% - 40px);

    display: flex;
    align-items: center;
    column-gap: 30px;
    &-info{
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height:28px;
    }
  }
  &__block{
    height: 285px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    color: white;
    &-left{
      width: 30%;
    }
    &-title{
      font-family: 'Cormorant Garamond',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
    }
    &-red{
      padding: 50px 40px;
      height: 100%;
      background: url("../../../../../public/bg/Chance/bgRed.png") center/cover no-repeat;
      width: 70%;
    }
    &-info{
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 34px;
      &-bold{
        font-weight: 700;
        font-size: 21px;
      }
    }
  }
}