.actionVisa{
  background: #DDECF1;
  padding: 75px 0;
  &__title{
    text-align: center ;
    font-family: 'Cormorant Garamond',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:40px;
    color: #424242;
    line-height: 52px;
  }
  &__row{
    display: flex;
    column-gap: 38px;
    align-items: center;
  }
  &__blockImg{

  }
}