.whatNeed{
  padding: 30px 0;
  background: #F0F3F5;
  &__title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Cormorant Garamond',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:40px;
    color: #424242;
    line-height: 52px;
  }
  &__row{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 130px 100px;
  }
  &__card{
    &-img{
      width: 85px;
    }
    width: calc(33.33333% - 86px);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &-title{
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 25px;
      &-bold{
        font-weight: 700;
        font-size: 14px;
      }
    }
    &-image{
      width: 100px;
    }
  }
}