.whatNeed{
  padding: 30px 0;
  background: #F0F3F5;
  &__title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Cormorant Garamond',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:40px;
    color: #424242;
    line-height: 52px;
  }
}