.consultation{
  padding: 60px 0;
  &__row{
    display: flex;
    column-gap: 45px;
  }
  &__card{
    width: 70%;
    background: white;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.3);
    border-radius: 10px;
    padding: 50px 80px;
    &-title{
      font-family: 'Cormorant Garamond',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      color: #424242;
      &-blue{
        color: #0045B5;
      }
    }
    &-btn{
      margin-top: 40px;
      padding: 20px 45px;
      background:#DA3B97;
      border-radius: 12px;
      border: none;
      color: white;

      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 34px;
    }
  }
}